/* Carousel base class */
.carousel {
    padding-top: 0rem; 
    margin-bottom: 0rem;
    background-color: #777;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 0rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 2rem;
    background-color: #777;
  }
  .carousel-item > img {
    
    height: 5rem;
  }
  .carousel-inner > .item > img {
    min-width: 100%; 
  }