<!-- Componente Albúm de Revistinhas -->
<div class="album py-5 bg-light">
  <div class="container"><!-- container principal -->
    <div class="mb-4" style="text-align: center;">
      <a href="#" class="btn btn-success btn-lg">
        <i class="fa fa-file"></i> Cadastrar nova publicação
      </a>
    </div>
    <div class="row"><!-- lista de gibis -->
        <gibi class="col-md-4" *ngFor="let gibi of gibizada" 
          [titulo]="gibi.titulo" [url]="gibi.url" preco={{gibi.preco}} 
          resumo={{gibi.resumo}}></gibi>
    </div><!-- FIM lista de gibis -->
  </div><!-- FIM container principal -->
</div>