<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">{{titulo}}</a>
    <!-- Botão para exibir menu em navegadores com telas pequenas -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- após o button -->
    <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="!isNavbarCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Parceiros</a>
        </li>
        <!-- Após o link "Parceiros" -->
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>
            Produtos</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
            <a class="dropdown-item" href="#">Camisas</a>
            <a class="dropdown-item" href="#">Chaveiros</a>
            <a class="dropdown-item" href="#">Coleções</a>
          </div>
        </li>
        <!-- FIM dropdown -->
      </ul>
      <!-- Arquivo: src/app/template/cabecalho.component.html-->
      <!-- Código omitido acima -->
      <div class="form-inline mt-2 mt-md-0">
        <input #consulta (input)="onAlterarConsulta(consulta.value)" 
          class="form-control mr-sm-2" type="text" placeholder="Buscar"
          aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" 
          type="button">Buscar</button>
      </div>
    </div><!-- FIM navbar-collapse -->
  </nav>
</header>