<!-- Componente de boas vindas -->
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{{titulo}}</h1>
    <p class="lead text-muted">A BuriComics é uma empresa brasileira 
      dedicada à venda de raridades do mundo das Histórias em Quadrinhos.
      <br>Fundada em 2000, a empresa tem um belo histórico de superações e 
      apresenta como seu maior objetivo: oferecer aos visitantes
      um espaço virtual para compra de exemplares de Gibis</p>
    <p>
      <a href="#" class="btn btn-primary my-2">Continuar lendo &raquo;</a>
      <a href="#" class="btn btn-secondary my-2">Quero me cadastrar</a>
    </p>
  </div>
</div>