<!-- Arquivo: src/app/gibilista/gibilista.component.html -->
<!-- Componente Albúm de Revistinhas -->
<div class="album py-5 bg-light">
  <div class="container">
    <!-- container principal -->
    <div class="mb-4" style="text-align: center;">
      <a [routerLink]="['/cadastro']" class="btn btn-success btn-lg">
        <i class="fa fa-file"></i> Cadastrar nova publicação</a>
    </div>

    <ngb-alert *ngIf="_mensagem" type="success" (close)="_mensagem = null">
      <strong>Sucesso!</strong> {{ _mensagem }}
    </ngb-alert>
    <div class="row">
      <!-- lista de gibis -->
      <gibi class="col-md-4" *ngFor="let gibi of gibizada" [gibi]="gibi" [listener]="_exclusaoListener"></gibi>
    </div>
    <!-- FIM lista de gibis -->
  </div>
  <!-- FIM container principal -->
</div>