<!-- Arquivo: src/app/login/login.component.html -->
<main role="main" class="text-center">
  <form [formGroup]="_formLogin" (ngSubmit)="efetuarLogin()" 
         class="form-signin mb-2">
    <img src="assets/img/logo.jpg" alt="Logo buritech" 
         class="mb-4" width="72" height="72">
    <ngb-alert *ngIf="_mensagem" type="danger" (close)="_mensagem = null">
      <strong>Erro!</strong> {{ _mensagem }}
    </ngb-alert>
  <h1 class="h3 mb-3 font-weight-normal">Entrar na app</h1>
  <label for="login" class="sr-only">Login</label>
  <input formControlName="login" name="login" [(ngModel)]="_usuario.login" 
        type="text" class="form-control" placeholder="Login" autofocus>
  <span *ngIf="_formLogin.controls.login.invalid && 
                _formLogin.controls.login.dirty" 
        class="form-control alert-danger">Login obrigatório.</span>
  <label for="senha" class="sr-only">Senha</label>
  <input formControlName="senha" name="senha" [(ngModel)]="_usuario.senha" 
          type="password" class="form-control" placeholder="Senha">
  <span *ngIf="_formLogin.controls.senha.invalid && 
                _formLogin.controls.senha.dirty" 
        class="form-control alert-danger">Senha obrigatória.</span>
  <!-- Arquivo: src/app/login/login.component.html -->
  <!-- código acima omitido -->
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Lembrar dos dados
      </label>
    </div>
    <button type="submit" [disabled]="!_formLogin.valid"
            class="btn btn-lg btn-primary btn-block" >Entrar</button>
  </form>
</main>
<rodape></rodape>