<ngb-carousel class="carousel">
  <ng-template ngbSlide class="carousel-item">
    <div style="text-align: center; height: 35rem;">
      <img src="assets/img/banner1.jpg" alt="Marvel vs DC">
    </div>
    <div class="carousel-caption">
      <h2>
        <strong>Marvel vs DC</strong>
      </h2>
      <p>Duas entidades que são irmãs, conhecidas como Universo DC e Universo Marvel, se deram conta da existência uma da outra.
        Elas desafiam uma à outra a umas séries de duelos que envolvem os super-heróis de seus respectivos universos. Como
        resultado,o universo perdedor que deixa de existir.</p>
    </div>
  </ng-template>
  <!-- FIM do 1o item do carrossel -->
  <!-- 2o item do carrossel -->
  <ng-template ngbSlide class="carousel-item">
    <div style="text-align: center; height: 35rem;">
      <img src="assets/img/banner2.jpg" class="img-responsive" alt="Grandes vilões">
    </div>
    <div class="carousel-caption">
      <h2>Grandes vilões</h2>
      <p>O site IGN elaborou uma lista com os 100 maiores vilões de todos os tempos. Encabeçando a lista está Magneto, seguido
        de Coringa, Doutor Destino, Lex Luthor e Galactus. Os maiores inimigos do Batman, do Superman, dos X-Men e da maioria
        dos heróis da Marvel e da DC fazem aparições na lista, elaborada em comemoração aos 75 anos dos comic books (no formato
        conhecido hoje nos Estados Unidos). </p>
    </div>
  </ng-template><!-- FIM do 2o item do carrossel -->
  <!-- 3o item do carrossel -->
  <ng-template ngbSlide class="carousel-item">
    <div style="text-align: center; height: 35rem;">
      <img src="assets/img/banner3.jpg" class="img-responsive" alt="X-Men">
    </div>
    <div class="carousel-caption">
      <h2>X-Men - mutantes bons de briga</h2>
      <p>X-Men é uma equipe de super-heróis de histórias em quadrinhos épicas 
        publicadas nos Estados Unidos pela Marvel Comics.
        Criados por Stan Lee e Jack Kirby, estrearam em The X-Men #1, 
        publicada em setembro de 1963, e era formado inicialmente
        pelo Professor X, fundador da equipe, Ciclope, Fera, Homem de Gelo, 
        Anjo e Garota Marvel (Jean Grey).</p>
    </div>
  </ng-template> <!-- FIM do 3o item do carrossel -->
</ngb-carousel> <!-- FIM do do carrossel -->