<div class="card box-shadow {{margem}}">
  <img class="card-img-top" [src]="gibi.url" [alt]="gibi.titulo" style="height: 235px;">
  <div class="card-body" *ngIf="exibirDetalhes">
    <p class="card-text">{{gibi.resumo}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
  <!-- Arquivo: src/app/gibi/gibi.component.html -->
  <!-- código omitido acima -->
  <a [routerLink]="['/cadastro', gibi._id]" 
      class="btn btn-sm btn-outline-primary">
    Alterar
  </a>
  <button (click)="open(content)" type="button" 
    class="btn btn-sm btn-outline-danger">
    Excluir
  </button>
  <!-- código omitido abaixo -->
      </div>
      <small class="text-muted">R$ {{gibi.preco}}</small>
    </div>
  </div>
</div> <!-- última </div> da página> -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Pedido de confirmação</h4>
    <button type="button" (click)="d('Cross click')" 
            class="close" aria-label="Close" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Confirma a exclusão do gibi 
        <strong>"{{gibi.titulo}}"</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="c('confirmar')"
            class="btn btn-outline-primary" >Confirmar</button>
    <button type="button" (click)="c('cancelar')"
            class="btn btn-outline-dark">Cancelar</button>
  </div>
</ng-template>