<div class="card mb-4 box-shadow">
  <img class="card-img-top" [src]="url" [alt]="titulo" style="height: 225px;">
  <div class="card-body">
    <p class="card-text">{{resumo}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-primary">
          Alterar
        </button>
        <button type="button" class="btn btn-sm btn-outline-danger">
          Excluir
        </button>
      </div>
      <small class="text-muted">R$ {{preco}}</small>
    </div>
  </div>
</div>