footer {
    background-image: url("../../assets/img/fundo-rodape.png");
    padding: 20px 0;
}

footer .container {
    position: relative;
}

.social {
    position: absolute;
    top: 15px;
    right: 0;
}

.social li {
    float: left;
    margin-left: 25px;
}

.social li a {
    /* tamanho da imagem */
    height: 32px;
    width: 32px;
    /* image replacement */
    display: block;
    text-indent: -9999px;
}

/*** Image replacement ***/

.social a[href*="facebook.com"] {
    background-image: url("../../assets/img/facebook.png");
}

.social a[href*="twitter.com"] {
    background-image: url("../../assets/img/twitter.png");
}

.social a[href*="plus.google.com"] {
    background-image: url("../../assets/img/googleplus.png");
}