<!-- Arquivo: src/app/home/home.component.html -->

<cabecalho (alterarConsulta)="busca.value = $event">          
</cabecalho>

<main role="main">
        <carrossel>  </carrossel>
        <boasvindas>  </boasvindas>
        <gibizada #busca [consulta]="busca.value">                  
        </gibizada> 
</main>

<rodape>  </rodape>