<!--Arquivo: src/app/cadastro/cadastro.component.html -->
<cabecalho></cabecalho>
<main role="main" class="bg-light">
  <div class="container">
    <!-- código omitido -->
    <form class="needs-validation" novalidate>
      <div class="row">
        <div class="col-md-7 order-md-1">
          <!-- Dados do GIBI -->
          <h4 class="mb-3">Dados do gibi</h4>
          <div class="mb-3">
            <!-- título -->
            <label for="titulo">Título do Gibi</label>
            <input type="text" class="form-control" id="titulo" placeholder="Ex.: A morte do superman">
            <!-- código omitido -->
          </div>
          <!-- FIM título -->
          <div class="row">
            <!--Linha de preco e editora-->
            <div class="col-md-5 mb-3">
              <!-- preco -->
              <label for="preco">Preço</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">R$</span>
                </div>
                <input type="text" class="form-control" id="preco" placeholder="Ex.: 19.50">
              </div>
              <!-- código omitido -->
            </div>
            <!-- FIM preco -->
            <div class="col-md-7 mb-3">
              <!-- Editora -->
              <label for="editora">Editora</label>
              <select class="custom-select d-block w-100" id="editora">
                <option value="">Não selecionada</option>
                <option>Marvel</option>
                <option>DC</option>
                <option>Globo</option>
              </select>
              <!-- código omitido -->
            </div>
            <!-- FIM Editora -->
          </div>
          <!--FIM Linha de preco e editora-->
          <div class="mb-3">
            <!-- resumo -->
            <label for="resumo">Resumo da história</label>
            <textarea class="form-control" id="resumo" rows="6">
        </textarea>
          </div>
          <!-- FIM resumo -->
        </div>
        <!-- FIM dados GIBI -->
        <!--Preview da capa-->
        <!-- código omitido -->
        <div class="col-md-5 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between 
                          align-items-center mb-3">
            <span class="text-muted">Imagem da capa</span>
          </h4>
          <label for="url">{{titulo}}</label>
          <gibi class="col-md-4" margem="" [exibirDetalhes]=false></gibi>
          <!-- código omitido -->
          <div class="mb-3">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" placeholder="www.exemplo.com.br/fig.jpg">
          </div>
        </div>
        <!--FIM Preview da capa-->
      </div>
      <!-- FIM row -->
      <div class="mb-4" style="text-align: center;">
        <!-- botão salvar -->
        <button class="btn btn-primary btn-lg btn-block " type="submit">
          Salvar dados do gibi</button>
      </div>
      <!-- FIM botão salvar -->
    </form>
  </div>
</main>
<rodape></rodape>