<footer>
    <div class="container">
        <img src="assets/img/logo-rodape.png" alt="Logo BuriComics">
        <ul class="social">
            <li>
                <a href="http://facebook.com/buritech">Facebook</a>
            </li>
            <li>
                <a href="http://twitter.com/buritech">Twitter</a>
            </li>
            <li>
                <a href="http://plus.google.com/buritech">Google+</a>
            </li>
        </ul>
    </div>
</footer>