<!--Arquivo: src/app/cadastro/cadastro.component.html -->
<cabecalho></cabecalho>
<main role="main" class="bg-light">
  <div class="container">

    <ngb-alert *ngIf="mensagem" type="success" (close)="mensagem = null">
      <strong>Sucesso!</strong> {{ mensagem }}
    </ngb-alert>
    <!-- Código omitido abaixo -->
    <form [formGroup]="formCadastro" class="needs-validation" (ngSubmit)="salvar()">
      <div class="row">
        <div class="col-md-7 order-md-1">
          <!-- Dados do GIBI -->
          <h4 class="mb-3">Dados do gibi</h4>
          <div class="mb-3">
            <!-- título -->
            <label for="titulo">Título do Gibi*</label>
            <input type="text" formControlName="titulo" name="titulo" [(ngModel)]="gibi.titulo" class="form-control" placeholder="Ex.: A morte do superman">
            <div *ngIf="formCadastro.controls.titulo.invalid && formCadastro.controls.titulo.dirty" class="mt-1">
              <span *ngIf="formCadastro.controls.titulo.errors.required" class="form-control alert-danger">
                Título obrigatório.
              </span>
              <span *ngIf="formCadastro.controls.titulo.errors.minlength" class="form-control alert-danger">
                O título deve ter 5(cinco) caracteres, no mínimo.
              </span>
            </div>
            <!-- código omitido -->
          </div>
          <!-- FIM título -->
          <div class="row">
            <!--Linha de preco e editora-->
            <div class="col-md-5 mb-3">
              <!-- preco -->
              <label for="preco">Preço*</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">R$</span>
                </div>
                <input type="text" class="form-control" formControlName="preco" name="preco" [(ngModel)]="gibi.preco" placeholder="Ex.: 19.50">
              </div>
              <span *ngIf="formCadastro.controls.preco.invalid && formCadastro.controls.preco.dirty" class="form-control alert-danger mt-1">
                Preço obrigatório.
              </span>
              <!-- código omitido -->
            </div>
            <!-- FIM preco -->
            <div class="col-md-7 mb-3">
              <!-- Editora -->
              <label for="editora">Editora*</label>
              <select class="custom-select d-block w-100" formControlName="editora" name="editora" [(ngModel)]="gibi.editora">
                <option value="">Não selecionada</option>
                <option>Marvel</option>
                <option>DC</option>
                <option>Globo</option>
              </select>
              <span *ngIf="formCadastro.controls.editora.invalid && formCadastro.controls.editora.dirty" class="form-control alert-danger mt-1">
                O campo editora é obrigatório.
              </span>

              <!-- código omitido -->
            </div>
            <!-- FIM Editora -->
          </div>
          <!--FIM Linha de preco e editora-->
          <div class="mb-3">
            <!-- resumo -->
            <label for="resumo">Resumo da história</label>
            <textarea class="form-control" rows="6" formControlName="semValidacao" name="resumo" [(ngModel)]="gibi.resumo">
        </textarea>
          </div>
          <!-- FIM resumo -->
        </div>
        <!-- FIM dados GIBI -->
        <!--Preview da capa-->
        <!-- código omitido -->
        <div class="col-md-5 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between 
                          align-items-center mb-3">
            <span class="text-muted">Imagem da capa</span>
          </h4>
          <label for="url">{{gibi.titulo}}</label>
          <gibi class="col-md-4" margem="" [exibirDetalhes]=false [gibi]="gibi"></gibi>
          <!-- código omitido -->
          <div class="mb-3">
            <label for="url">URL*</label>
            <input type="text" class="form-control" name="url" [(ngModel)]="gibi.url" formControlName="url" placeholder="www.exemplo.com.br/fig.jpg">
            <span *ngIf="formCadastro.controls.url.invalid && formCadastro.controls.url.dirty" class="form-control alert-danger mt-1">
              URL obrigatória.
            </span>
          </div>
        </div>
        <!--FIM Preview da capa-->
      </div>
      <!-- FIM row -->
      <div class="mb-2" style="text-align: center;">
        <!-- botão salvar -->
        <button class="btn btn-primary btn-lg " type="submit" [disabled]="!formCadastro.valid">
          Salvar dados do gibi</button>

        <a [routerLink]="['']" class="btn btn-secondary btn-lg">Voltar</a>

      </div>
      <!-- FIM botão salvar -->
    </form>
  </div>
</main>
<rodape></rodape>